@media screen and (min-width: 970px) {
    .card-list {
        width: 830px;
    }
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.card-list .card {
    margin: 8px;
    width: 150px;
    height: 150px;
}

.card {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.loader {
    margin: 20px;
    width: 200px;
    text-align: center;
}

.card-detail-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.narcissus_17w311v {
    cursor: initial;
    width: 50% !important;
}

.narcissus_86uon7 {
    display: none !important;
}