@media screen and (min-width: 970px) {
    .card-list {
        width: 830px;
    }
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.card-list .card {
    margin: 8px;
    width: 150px;
    height: 150px;
}

.card {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 5px;
}

.card:hover {
    cursor: pointer;
    -moz-box-shadow:    0 0 20px #1e71e3;
    -webkit-box-shadow: 0 0 20px #1e71e3;
    box-shadow:         0 0 20px #1e71e3; 
}

.spinner {
    margin: 20px;
    width: 200px;
    text-align: center;
}

.card-detail-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.narcissus_17w311v {
    cursor: initial;
}

.card-detail-info {
    display: flex;
    flex-direction: column;
}

.card-detail-number {
    font-weight: bold;
}

.card-detail-name {
    margin: 0 auto;
}

.card-detail-types {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 20px;
}

.card-detail-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.card-detail-group-title {
    font-weight: bold;
}

.card-detail-group-content {
    margin-left: 10px;
}

.card-detail-basic {
    display: flex;
    flex-direction: column;
}

.card-pokemon-name {
    margin: 10px;
}