@media screen and (min-width: 970px) {
    .card-list {
        width: 830px;
    }
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.card-list .card {
    margin: 8px;
    width: 150px;
    height: 150px;
    background-color: #d6e2fb;
}